---
name: Run tests

on: [pull_request]

concurrency:
  group: pr-check-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  ci:
    name: Build and test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    env:
      # renovate: datasource=pypi depName=pre-commit
      PRE_COMMIT_VERSION: 4.5.1

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Configure pre-commit repo cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-repo-${{ env.pythonLocation }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Configure pre-commit install cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        id: pre-commit-install-cache
        with:
          path: ~/.pre-commit-venv
          key: ${{ runner.os }}-pre-commit-venv-${{ env.PRE_COMMIT_VERSION }}-${{ env.pythonLocation }}

      - name: Install pre-commit
        if: steps.pre-commit-install-cache.outputs.cache-hit != 'true'
        run: |
          python -m venv ~/.pre-commit-venv
          # shellcheck source=/dev/null
          . ~/.pre-commit-venv/bin/activate
          pip install "pre-commit==$PRE_COMMIT_VERSION"

      - name: Run pre-commit
        run: |
          # shellcheck source=/dev/null
          . ~/.pre-commit-venv/bin/activate
          pre-commit run --all-files --color=always --show-diff-on-failure
